In [15]:
import sqlite3

with sqlite3.connect(':memory:') as con:
    c = con.cursor()
    c.execute('''
        CREATE TABLE sensors
            (date text, city text, code text, sensor_id real, temperature read)
    ''')
    for table in c.execute("SELECT name FROM sqlite_master WHERE type='table'"):
        print 'Table', table[0]
        
    c.execute("INSERT INTO sensors VALUES('2016-11-05', 'Utrecht', 'Red', 42, 15.14)")
    c.execute('SELECT * FROM sensors')

    print '# of table', c.execute('SELECT COUNT(*) FROM sqlite_master WHERE type = "table"').fetchone()[0]
    c.close()

Table sensors
# of table 1

In [16]:
# panda_access

import statsmodels.api as sm
from pandas.io.sql import read_sql
import sqlite3

with sqlite3.connect(':memory:') as con:
    c = con.cursor()
    data_loader = sm.datasets.sunspots.load_pandas()
    df = data_loader.data
    rows = [tuple(x) for x in df.values]
    
    con.execute("CREATE TABLE sunspots(year, sunactivity)")
    con.executemany("INSERT INTO sunspots(year, sunactivity) VALUES (?, ?)", rows)
    c.execute("SELECT COUNT(*) FROM sunspots")
    print c.fetchone()
    print 'DELETED', con.execute("DELETE FROM sunspots where sunactivity > 20").rowcount, "rows"
    
    print read_sql("SELECT * FROM sunspots where year <1732", con)
    con.execute("DROP TABLE sunspots")
    c.close()

C:\Users\DELL\Anaconda2\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

(309,)
DELETED 217 rows
      year  sunactivity
0   1700.0          5.0
1   1701.0         11.0
2   1702.0         16.0
3   1707.0         20.0
4   1708.0         10.0
5   1709.0          8.0
6   1710.0          3.0
7   1711.0          0.0
8   1712.0          0.0
9   1713.0          2.0
10  1714.0         11.0
11  1723.0         11.0