In [8]:
from pandas.io.parsers import read_csv

df = read_csv("WHO_first9cols.csv")
#print "Dataframe", df
print 'Shape', df.shape
print 'Length', len(df)
print 'Column Headers', df.columns
print 'Data types', df.dtypes
print 'Index', df.index
print 'Values', df.values

Shape (202, 9)
Length 202
Column Headers Index([u'Country', u'CountryID', u'Continent',
       u'Adolescent fertility rate (%)', u'Adult literacy rate (%)',
       u'Gross national income per capita (PPP international $)',
       u'Net primary school enrolment ratio female (%)',
       u'Net primary school enrolment ratio male (%)',
       u'Population (in thousands) total'],
      dtype='object')
Data types Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object
Index RangeIndex(start=0, stop=202, step=1)
Values [['Afghanistan' 1L 1L ..., nan nan 26088.0]
 ['Albania' 2L 2L ..., 93.0 94.0 3172.0]
 ['Algeria' 3L 3L ..., 94.0 96.0 33351.0]
 ...,
 ['Yemen' 200L 1L ..., 65.0 85.0 21732.0]
 ['Zambia' 201L 3L ..., 94.0 90.0 11696.0]
 ['Zimbabwe' 202L 3L ..., 88.0 87.0 13228.0]]

In [16]:
from pandas.io.parsers import read_csv
import numpy as np

df = read_csv("WHO_first9cols.csv")
country_col = df['Country']
print 'Type df', type(df)
print 'Type country col', type(country_col)
print 'Series shape', country_col.shape
print 'Series index', country_col.index
print 'Series values', country_col.values
print 'Series name', country_col.name
#print 'df signs', np.sign(df)
last_col = df.columns[-1]
print 'Last df column signs', last_col
np.sign(df[last_col])

 Type df <class 'pandas.core.frame.DataFrame'>
Type country col <class 'pandas.core.series.Series'>
Series shape (202L,)
Series index RangeIndex(start=0, stop=202, step=1)
Series values ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bermuda' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Cape Verde' 'Central African Republic' 'Chad' 'Chile'
 'China' 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.'
 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']
Series name Country
Last df column signs Population (in thousands) total

C:\Users\DELL\Anaconda2\lib\site-packages\ipykernel_launcher.py:15: RuntimeWarning: invalid value encountered in sign
  from ipykernel import kernelapp as app

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     NaN
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
172    1.0
173    1.0
174    1.0
175    1.0
176    NaN
177    1.0
178    1.0
179    1.0
180    1.0
181    1.0
182    1.0
183    1.0
184    1.0
185    1.0
186    1.0
187    1.0
188    1.0
189    1.0
190    1.0
191    1.0
192    1.0
193    1.0
194    1.0
195    1.0
196    1.0
197    1.0
198    NaN
199    1.0
200    1.0
201    1.0
Name: Population (in thousands) total, Length: 202, dtype: float64

In [26]:
import Quandl


sunspots = Quandl.get('SIDC/SUNSPOTS_A')
print 'Head 2', sunspots.head(2)
print 'Tail 2', sunspots.tail(2)
last_date = sunspots.index[-1]
print 'Last value', sunspots.loc[last_date]
print 'Value slice by date\n\n', sunspots['20020101':'20131231']
print 'Describe', sunspots.describe(),'\n\n'
print 'Non NaN observations', sunspots.count(),'\n\n'
print 'MAD', sunspots.mad(),'\n\n'
print 'Dedian', sunspots.median(),'\n\n'
print 'Min', sunspots.min(),'\n\n'
print 'Max', sunspots.max(),'\n\n'
print 'Mode', sunspots.mode(),'\n\n'
print 'Standard Deviation', sunspots.std(),'\n\n'
print 'Variance', sunspots.var(),'\n\n'
print 'Skewness', sunspots.skew(),'\n\n'
print 'Kurtosis', sunspots.kurt(),'\n\n'

Head 2                      Yearly Mean Total Sunspot Number  \
Date
1700-12-31 00:00:00                               8.3
1701-12-31 00:00:00                              18.3

                     Yearly Mean Standard Deviation  Number of Observations  \
Date
1700-12-31 00:00:00                             NaN                     NaN
1701-12-31 00:00:00                             NaN                     NaN

                     Definitive/Provisional Indicator
Date
1700-12-31 00:00:00                               1.0
1701-12-31 00:00:00                               1.0
Tail 2             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9

            Number of Observations  Definitive/Provisional Indicator
Date
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
Last value Yearly Mean Total Sunspot Number      39.8
Yearly Mean Standard Deviation         3.9
Number of Observations              9940.0
Definitive/Provisional Indicator       1.0
Name: 2016-12-31 00:00:00, dtype: float64
Value slice by date

            Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9

            Number of Observations  Definitive/Provisional Indicator
Date
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
Describe        Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
count                        317.000000                      199.000000
mean                          79.378233                        8.009548
std                           61.998961                        3.808942
min                            0.000000                        1.700000
25%                           25.100000                        4.700000
50%                           66.700000                        7.700000
75%                          116.300000                       10.450000
max                          269.300000                       19.100000

       Number of Observations  Definitive/Provisional Indicator
count              199.000000                             317.0
mean              1467.678392                               1.0
std               2463.925956                               0.0
min                150.000000                               1.0
25%                365.000000                               1.0
50%                365.000000                               1.0
75%                366.000000                               1.0
max               9940.000000                               1.0


Non NaN observations Yearly Mean Total Sunspot Number    317
Yearly Mean Standard Deviation      199
Number of Observations              199
Definitive/Provisional Indicator    317
dtype: int64


MAD Yearly Mean Total Sunspot Number      50.931061
Yearly Mean Standard Deviation         3.128860
Number of Observations              1838.628924
Definitive/Provisional Indicator       0.000000
dtype: float64


Dedian Yearly Mean Total Sunspot Number     66.7
Yearly Mean Standard Deviation        7.7
Number of Observations              365.0
Definitive/Provisional Indicator      1.0
dtype: float64


Min Yearly Mean Total Sunspot Number      0.0
Yearly Mean Standard Deviation        1.7
Number of Observations              150.0
Definitive/Provisional Indicator      1.0
dtype: float64


Max Yearly Mean Total Sunspot Number     269.3
Yearly Mean Standard Deviation        19.1
Number of Observations              9940.0
Definitive/Provisional Indicator       1.0
dtype: float64


Mode    Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
0                              18.3                             9.2

   Number of Observations  Definitive/Provisional Indicator
0                   365.0                               1.0


Standard Deviation Yearly Mean Total Sunspot Number      61.998961
Yearly Mean Standard Deviation         3.808942
Number of Observations              2463.925956
Definitive/Provisional Indicator       0.000000
dtype: float64


Variance Yearly Mean Total Sunspot Number    3.843871e+03
Yearly Mean Standard Deviation      1.450804e+01
Number of Observations              6.070931e+06
Definitive/Provisional Indicator    0.000000e+00
dtype: float64


Skewness Yearly Mean Total Sunspot Number    0.804414
Yearly Mean Standard Deviation      0.561530
Number of Observations              1.871952
Definitive/Provisional Indicator    0.000000
dtype: float64


Kurtosis Yearly Mean Total Sunspot Number   -0.135040
Yearly Mean Standard Deviation     -0.243958
Number of Observations              1.850223
Definitive/Provisional Indicator    0.000000
dtype: float64

In [37]:
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

seed(42)

df = pd.DataFrame({'Weather':['cold', 'hot','cold', 'hot','cold', 'hot','cold'],
                    'Food':['soup', 'soup', 'icecream', 'chocolate', 'icecream', 'icecream', 'soup'],
                    'Price': 10 * rand(7),
                    'Number': randint(1, 9, size = (7,))
                   })

#print df
weather_group = df.groupby('Weather')
i = 0
for name, group in weather_group:
    i += 1
    print 'Group', i, name
    print group
    
print 'Weather group first\n', weather_group.first()
print 'Weather group last\n', weather_group.last()
print 'Weather group mean\n', weather_group.mean()

wf_group = df.groupby(['Weather', 'Food'])
print 'WF Groups', wf_group.groups
print 'WF Aggregated\n', wf_group.agg([np.mean, np.median])

Group 1 cold
       Food  Number     Price Weather
0      soup       8  3.745401    cold
2  icecream       4  7.319939    cold
4  icecream       8  1.560186    cold
6      soup       6  0.580836    cold
Group 2 hot
        Food  Number     Price Weather
1       soup       5  9.507143     hot
3  chocolate       8  5.986585     hot
5   icecream       3  1.559945     hot
Weather group first
         Food  Number     Price
Weather
cold     soup       8  3.745401
hot      soup       5  9.507143
Weather group last
             Food  Number     Price
Weather
cold         soup       6  0.580836
hot      icecream       3  1.559945
Weather group mean
           Number     Price
Weather
cold     6.500000  3.301591
hot      5.333333  5.684558
WF Groups {('hot', 'chocolate'): Int64Index([3], dtype='int64'), ('cold', 'icecream'): Int64Index([2, 4], dtype='int64'), ('cold', 'soup'): Int64Index([0, 6], dtype='int64'), ('hot', 'soup'): Int64Index([1], dtype='int64'), ('hot', 'icecream'): Int64Index([5], dtype='int64')}
WF Aggregated
                  Number            Price
                    mean median      mean    median
Weather Food
cold    icecream       6      6  4.440063  4.440063
        soup           7      7  2.163119  2.163119
hot     chocolate      8      8  5.986585  5.986585
        icecream       3      3  1.559945  1.559945
        soup           5      5  9.507143  9.507143

In [38]:
print 'df :3\n', df[:3]

df :3
       Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       5  9.507143     hot
2  icecream       4  7.319939    cold

In [39]:
print 'Concat Back together\n', pd.concat([df[:3], df[3:]])

Concat Back together
        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       5  9.507143     hot
2   icecream       4  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       3  1.559945     hot
6       soup       6  0.580836    cold

In [40]:
print 'Append rows \n', df[:3].append(df[5:])

Append rows
       Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       5  9.507143     hot
2  icecream       4  7.319939    cold
5  icecream       3  1.559945     hot
6      soup       6  0.580836    cold

In [44]:
from pandas.io.parsers import read_csv
import numpy as np

df = read_csv("WHO_first9cols.csv")
df = df[['Country', df.columns[-2]]][:2]
print 'New df\n', df

New df
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0

In [45]:
print 'Null values\n', pd.isnull(df)

Null values
   Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False

In [46]:
print 'Not null values\n', df.notnull()

Not null values
   Country  Net primary school enrolment ratio male (%)
0     True                                        False
1     True                                         True

In [47]:
print 'Last column doubled\n', 2 * df[df.columns[-1]]

Last column doubled
0      NaN
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64

In [50]:
print 'last columns plus NaN\n',df[df.columns[-1]] + np.nan

last columns plus NaN
0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64

In [51]:
print 'zero filled\n', df.fillna(0)

zero filled
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0